@charset "UTF-8";
/* ========== Google Fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

/* ========== CSS Variables =========== */
:root {
  --primary-color: #ecc042;
  --secondary-color: #EC6D42;
  --default-color: #4f5665;
  --black-color: #060606;
  --grey-color: #f0f0f0;
  --white-color: #f7f7f7;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
  --gradient: linear-gradient(to bottom, rgba(236,192,66,0.6), rgba(236,109,66,0.6));
  --gradient-II: linear-gradient(to bottom, rgb(236,192,66), rgb(236,109,66));
  --btn-gradient: linear-gradient(to bottom, #EE7B54 50%, #EC6D42);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}

h1, h2, h3, h4 {
  color: var(--black-color);
  line-height: 1.4;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

section {
  padding: 5rem 0 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

input{
    font: inherit;
    border: none;
}

input:focus{
    outline: 2px solid var(--default-color)
}

/* ========== Custom Classes =========== */
.container{
    max-width: 120rem;
    padding: 0 3rem;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 1.5rem 6rem;
    border-radius: 1rem;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.8rem;
    background: var(--btn-gradient);
    cursor: pointer;
    box-shadow: var(--box-shadow-1);
}

@media (min-width: 1600px) {
    .container{
        max-width: 160rem;
    }
}

@media (max-width:768px) {
    .btn {
    padding: 1.2rem 4rem;
}
}

@media (max-width: 567px ) {
    .btn {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
}

@media (min-width: 567px) {
    .container{
        padding: 0 1rem;
    }
}

.d-flex{
    display: flex;
     align-items: center;
}

.hidden{
   visibility: hidden;
}

.show{
    visibility: visible;
}
/* ========== Header =========== */

.header{
    margin-bottom: 4rem;
}

/* ========== Navbar =========== */

.logo{
    width: 5rem;
}

 .navbar{
    padding: 2.5rem 0;
    position: relative;
    z-index: 1;
}

 .navbar .row{
    justify-content: space-between;
}

 .navbar .row .nav-list a{
    display: inline-block;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--black-color);
}

 .navbar .row .nav-list a.user-link{
    display: none;
}

 .navbar .row .nav-list a:not(:last-child){
    margin-right: 0.5rem;
}

 .navbar .row .nav-list a:hover{
    color: var(--primary-color)
}

 .navbar .row .icons .icon {
font-size: 2.2rem;
padding: 0.5rem;
color: var(--black-color);
cursor: pointer;
justify-content: center;
position: relative;
}

 .navbar .row .icons .icon:not(:last-child){
    margin-right: 3rem;
}

 .navbar .row .icons a .icon {
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--black-color);
}

 .hamburger,  .close{
display: none;
}

@media (min-width: 1600px) {
     .navbar{
        padding: 4rem 0;
    }
}

@media (max-width: 768px) {

     .navbar .row .nav-list{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 28rem;
        height: 100%;
        background-color: var(--white-color);
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem 1rem;
        transition: 0.5s;
        z-index: 1;
    }

      .navbar .row .nav-list a{
         font-size: 1.8rem;
     }

      .navbar .row .nav-list a:not(:last-child){
         margin: 0 0 1rem 0;
     }

       .navbar .row .nav-list .close{
          display: block;
          position: absolute;
          top: 2.5rem;
          right: 2.5rem;
          color: var(--black-color);
          cursor: pointer;
          font-size: 3rem;
      }

         .navbar .row .nav-list.show{
            right: 0;
        }

        .navbar .row .hamburger{
           display: block;
           font-size: 3rem;
           cursor: pointer;
       }
}


/* ========== Hero Area =========== */
.hero{
    height: 80vh;
    margin: 0 3rem;
}

.header .hero .row{
   height: 100%;
   background: url("../../src/assets/bgHero.svg") center/cover no-repeat fixed;
   border-radius: 2rem;
   position: relative;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1.5fr 2fr;
   grid-template-rows: 70vh;
}

.header .hero .row .d-flex{
    justify-content: space-between;
}

.header .hero .row .col{
    margin-left: 5rem;
}

.header .hero .row .col .subtitle{
    display: block;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.header .hero .row .col h1{
    font-family: "Aclonica", sans-serif;
    font-size: 13rem;
    line-height: 1;
}

.header .hero .row .col h1 .i{
    color: var(--secondary-color);
    position: relative;
}

.header .hero .row .col h1 .i::before{
   content: "ı";
   position: absolute;
   color: var(--black-color);
}

.header .hero .row .col p{
    font-size: 2rem;
    margin-bottom: 6rem;
}


.header .hero .row img{
position: absolute;
right: -35px;
bottom: -35px;
object-fit: cover;
}

@media (min-width:1500px) {
   .header .hero .row img{
    width: 45em;
}
}

@media (max-width:1024px) {
    .header .hero .row .col h1{
    font-size: 8rem;
}
}

@media (max-height:833px) {
  .header .hero .row img{
    width: 30em;
}
}

@media (max-width:768px) {
  .header .hero .row .col{
    position: absolute;
    top: 10%;
}

.header .hero .row .col .subtitle{
    font-size: 1.6rem;
}

.header .hero .row .col h1{
    font-size: 7rem;
}

.header .hero .row .col p{
    font-size: 1.6rem;
}

.header .hero .row .col .btn {
    padding: 1.2rem 4rem;
}

 .header .hero .row img{
    width: 40rem;
    }
}

@media (max-width: 567px ) {

    .header .hero{
        height: 80vh;
        margin: 0 1rem;
    }

    .header .hero .row .col .subtitle{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.header .hero .row .col h1{
    font-size: 6.5rem;
}

.header .hero .row .col p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.header .hero .row .col .btn {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

 .header .hero .row img{
    width: 100%;
    }
}

/* ========== Collection =========== */
.section .title{
    text-align: center;
    margin: 5rem 0;
} 

.section .title span{
    display: inline-block;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.section .title span::before{
    content: "";
    position: absolute;
    bottom: -0.7rem;
    right: 2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.section .title h2 {
    font-size: 2.4rem;
}

.collection .products .swiper-wrapper{
padding: 0 0 5rem;
margin: 0 3.5rem;
}

.collection .products .swiper .swiper-button-next::after, .swiper-button-prev::after{
    font-size: 3rem;
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    border-radius: 10px;
    color: var(--white-color);
}

/* ========== Product Cards =========== */

.collection .products .product, .section .product-center .product {
    border-radius: 2.5rem;
    box-shadow: var(--box-shadow-1);
    width: 30rem;
    margin: 2rem 2rem;
    overflow: hidden;
    transition: 0.3s;
}

.collection .products .product:hover{
    border: none;
    transform: scale(1.1);
    box-shadow: var(--box-shadow-1);
}

.collection .products .d-flex{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.collection .products .button {
    justify-content: center;
    margin-top: 8rem;
}

.collection .products .button .btn{
    display: inline-block;
      padding: 1.5rem 6rem;
      border-radius: 1rem;
      color: var(--white-color);
      font-weight: 500;
      font-size: 1.8rem;
      background: var(--btn-gradient);
      box-shadow: var(--box-shadow-1);
      cursor: pointer;
}

/* ========== Product Cards En Oferta=========== */

.collection .products .product.sale a{
    display: flex;
    width: rem;
    height: 15rem;
}

.collection .products .product.sale .top{
    background: var(--secondary-color);
    height: 15rem;
    width: 22rem;
}

.collection .products .product.sale .top img{
    height: 10rem;
}

.collection .products .product.sale .bottom h4{
font-size: 1.4rem;
width: 90%;
}

.collection .products .title .hidden {
    padding: 0;
    margin: 0;
} 

/* ========== Product Cards Sin Oferta =========== */

.collection .products .product .top, .section .product-center .product .top{
    background: var(--primary-color);
    height: 30rem;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.collection .products .product .top:hover, .section .product-center .product .top:hover{
    background: var(--secondary-color);
}

.collection .products .product .top img, .section .product-center .product .top img{
    height: 60%;
}

.collection .products .product .top .icon, .section .product-center .product .top .icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary-color);
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.collection .products .product .top .icon p, .section .product-center .product .top .icon p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white-color);
    transition: 0.3s;
}

.collection .products .product .top:hover .icon, .section .product-center .product .top:hover .icon{
    opacity: 1;
    visibility: visible;
}

.collection .products .product .bottom, .section .product-center .product .bottom{
    padding: 2.5rem 2rem;
}

.collection .products .product .bottom h4, .section .product-center .product .bottom h4{
font-size: 1.8rem;
width: 85%;
height: 7rem;
margin-bottom: 1.5rem;
}

.collection .products .product .bottom .d-flex, .section .product-center .product .bottom .d-flex{
    justify-content: space-between;
}

.collection .products .product .bottom .price, .section .product-center .product .bottom .price{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
}

.collection .products .product .bottom .rating box-icon:not(:last-child), .section .product-center .product .bottom .rating box-icon:not(:last-child){
    margin-right: .3rem;
}

.collection .products .swiper .swiper-pagination,.swiper-pagination-bullets{
    margin-top: 4rem;
    text-align: center;
}

.collection .products .swiper .swiper-pagination .swiper-pagination-bullet{
    background-color: var(--primary-color);
    height: 1rem;
    width: 1rem;
}

.collection .products .swiper .swiper-pagination .swiper-pagination-bullet-active{
width: 3rem;
border-radius: 1.5rem;
}

@media (min-width: 1600px){
.collection .products .product .top{
   height: 35rem;
}
}

/* ========== Arrivals =========== */

.new-arrival .row {
    display: grid;
}

.new-arrival .row .col {
position: relative;
padding: 1rem;
}

.new-arrival .row .col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.new-arrival .row .col-1, .new-arrival .row .col-2{
    grid-column: 1;
}

.new-arrival .row .col-3{
    grid-column: 2;
    grid-row: 1 / span 2;
}

.new-arrival .row .col h3{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: var(--white-color);
    font-size: 2rem;
    line-height: 3.5rem;
}

.new-arrival .row .col h3 span{
    display: block;
    margin-top: 3rem;
}

@media (max-width: 967px) {
  .new-arrival .row .col h3 {
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
}

@media (max-width: 768px) {
  .new-arrival .row {
      display: block;
  }
    .new-arrival .row .col h3 {
        bottom: 15%;
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

/* ========== highlights =========== */

.highlights{
    padding: 10rem 0 10rem;
    background: linear-gradient(
        to bottom,
        rgba(252, 203, 144, 0.15),
        rgba(255,185,188,0.1)
    );
}

.highlights .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.highlights .row .col {
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.highlights .row .col .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 1rem;
    box-shadow: var(--box-shadow-1);
    width: 8rem;
    height: 8rem;
    margin-bottom: 6rem;
}

.highlights .row .col .icon:hover {
    box-shadow: var(--box-shadow-2);
}

.highlights .row .col h3 {
    margin-bottom: 1.2rem;
}

.highlights .row .col p {
    color: var(--default-color);
}

@media (max-width: 768px){
.highlights .row .col p {
    width: 80%;
    margin: 0 auto;
}    
}

/* ========== Blog =========== */

.blog .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
}

.blog .row .col{
    border-radius: 2.5rem;
    box-shadow: var(--box-shadow-1);
    overflow: hidden;
}

.blog .row .col .top{
    height: 30rem;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.blog .row .col .top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog .row .col .bottom{
    text-align: center;
    padding: 3rem 0;
}

.blog .row .col .bottom h3{
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.blog .row .col .bottom h4{
    max-width: 80%;
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.blog .row .col .bottom span{
    color: var(--default-color);
    font-size: 1.5rem;
}

@media (max-width: 1600px){
    .blog .row .col .top{
        height: 30rem;
    }

      .blog .row .col .bottom h4{
        max-width: 85%;
    }
}



/* ========== Footer =========== */

.footer{
    background-color: rgba(252, 203, 144, 0.15);
    padding: 10rem 3rem;
    margin-top: 15rem;
}

.footer .row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
}

.footer .row .col .logo {
    margin-bottom: 2.5rem;
}

.footer .row .col:first-child p {
    margin-bottom: 2rem;
    color: var(--default-color);
    font-size: 1.7rem;
}

.footer .row .col .icon{
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
    margin-bottom: 1rem;
}

.footer .row .col .icon:not(:last-child){
    margin-right: 1rem;
}

.footer .row .col:last-child{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer .row .col:last-child div{
    display: flex;
    flex-direction: column;
}

.footer .row .col:last-child div a{
font-size: 1.7rem;
padding: 0.5rem;
margin-bottom: 1rem;
color: var(--default-color);
}

.footer .row .col:last-child .contact div{
    flex-direction: row;
}

.footer .row .col:last-child .contact span{
flex: 1;
}

.footer .row .col:last-child h4{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

@media (max-width: 1200px){
    .footer .row .col:first-child {
        display: none;
    }

    .footer .row {
        display: block;
    }
}

@media (max-width: 768px){
    .footer .row .col:last-child {
grid-template-columns: 1fr;
gap: 3rem 0;
    }
}

/* ========== Pop up =========== */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: 0.3s;
  transform: scale(1);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;
  height: 55rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: var(--white-color);
  border-radius: 2rem;
}

.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.popup-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
  background-color: var(--primary-color);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.popup-img-container {
  width: 100%;
  overflow: hidden;
}

.popup-img-container img.popup-img {
  display: block;
  width: 60rem;
  height: 53rem;
  max-width: 100%;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.right-content {
  width: 85%;
  margin: 0 auto;
}

.right-content h2 {
  font-size: 3rem;
  color: var(--black-color);
  margin-bottom: 1.6rem;
}

.right-content h2 span {
  color: var(--white-color);
}

.right-content p {
  font-size: 1.6rem;
  color: var(--black-color);
  margin-bottom: 1.6rem;
}

.popup-form {
  width: 100%;
  padding: 1.5rem 0;
  text-indent: 1.5rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: #eceaea;
  color: var(--default-color);
  font-size: 1.5rem;
  border: none;
  
}

.popup-form::placeholder {
  color: var(--default-color);
}

.popup-form:focus {
  outline: none;
}

.hide-popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .right-content {
    width: 100%;
  }

  .right-content h2 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 998px) {
  .popup-right {
    width: 100%;
  }

  .right-content h2 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .right-content h2 {
    font-size: 3.5rem;
  }

  .right-content p {
    font-size: 1.6rem;
  }

  .popup-form {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 568px) {
  .popup-left {
    display: none;
  }

  .popup-right {
    padding: 0 1.6rem;
  }

  .popup-content {
    height: 35rem;
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    width: 100%;
  }

  .right-content h2 {
    font-size: 3rem;
  }

  .right-content p {
    font-size: 1.4rem;
  }

  .popup-form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

  .popup-close {
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.5rem;
  }
}

/* ========== CartWidget =========== */

.numberCart--Active {
	color: #060606;
	padding: 1px 8px;
}

.numberCart--Disable {
	padding: 1px 8px;
}

/* ========== Detail page=========== */

.product-detail .detail{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 7rem;
}

.product-detail .detail .left{
    flex-direction: column;
}

.product-detail .detail .left .main{
    text-align: center;
    background-color: #f6f2f1;
    margin-bottom: 2rem;
    max-width: 80%;
}

.product-detail .detail .left .main img{
    object-fit: cover;
    overflow: hidden;
}

.product-detail .detail .right span{
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.product-detail .detail .right h2{
    font-size: 6rem;
    line-height: 140%;
}

.product-detail .detail .right h3{
    font-size: 2.5rem;
    line-height: 140%;
}

.product-detail .detail .right .price{
    display: inline-block;
    padding: 1.2rem 1.2rem;
    border-radius: 1.2rem;
   font-size: 2rem;
   font-weight: 500;
    line-height: 140%;
    color: var(--white-color);
    background-color: var(--primary-color);
    margin-bottom: 2rem; 
}

@media (max-width: 994px) {
   .product-detail .detail .left{
       width: 30rem;
       height: 45rem;
   }

   .product-detail .detail{
    gap: 3rem;
}

.product-detail .detail .right .price{
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 1.2rem;
   font-size: 1.5rem;
}

.product-detail .detail .right h2{
    font-size: 4rem;
}

.product-detail .detail .right h3{
    font-size: 2rem;
}
}

@media (max-width: 540px) {
   .product-detail .detail{
    display: inline-block;
}
   
    .product-detail .detail .left{
       width: 32rem;
       height: 32rem;
   }

.product-detail .detail .right h2{
    font-size: 3rem;
}

.product-detail .detail .right h3{
    font-size: 2rem;
}

.product-detail .detail .right .price{
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 1.2rem;
   font-size: 1.5rem;
}
}

/* ========== Contador =========== */

.contadorContainer .top{
 display: inline-flex;
 border: 1px solid #ccc;
 margin: 1.5rem 0;
}

.contadorContainer .top .contadorItem:nth-child(1), .contadorItem:nth-child(3){
    padding: 1rem 0.8rem;
    color: var(--default-color);
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #f7f7f7;
}

.contadorContainer .top .contadorItem:nth-child(1){
    border-right: 1px solid #ccc;
}

.contadorContainer .top .contadorItem:nth-child(3){
    border-left: 1px solid #ccc;
}

.contadorContainer .top .contadorItem:nth-child(2){
    padding: 0.5rem 1rem;
    color: var(--default-color);
    font-size: 1.7rem;
}

/* ========== Carrito Page =========== */

.carrito .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 8rem 1fr;
}

.carrito .container .top.title--carito h2{
    margin-left: 2rem;
}

.carrito .col-1.checkout{
    grid-column: 1;
    grid-row: 2;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 14px;
     border-top-left-radius: 14px;
    display: grid;
    grid-template-rows: 10rem 1fr;
    grid-auto-columns: 90%;
    justify-content: center;
}

.carrito .col-1.checkout .checkout-heading{
   align-self: center;
}

.carrito .container .col-1 .payment-form{
    margin-bottom: 2rem;
}

.carrito .container .col-1 .payment-form .name-lastname-container{
  align-items: center;
  gap: 30px;
}

.carrito .container .col-1 .payment-form  .input--container{
    margin-bottom: 3rem;
}


.carrito .container .col-1 .payment-form .input--container{
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.carrito .container .col-1 .payment-form .label-default{
    padding-left: 1rem;
    margin-bottom: 5px;
    font-size: 1.6rem;
    color: var(--default-color)
}

.carrito .container .col-1 .payment-form .input-default{
    background-color: rgb(235, 235, 235);
    border-radius: 0.5rem;
    color: var(--default-color);
    width: 80%;
}


.payment-form input{
padding: 10px 15px;
font-size: 1.6rem;
font-weight: 500;
}

.carrito .col-2.order-summery{
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #ccc;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.carrito .col-2 .carritoItems{
    margin: 2rem 2rem;
    align-self: start;
}

.carrito .col-2.col-2.order-summery .checkout-heading{
    margin: 3rem 0 0rem 3rem;
}

.carrito .col-2.col-2.order-summery .checkout-heading span:hover{
    cursor: pointer;
    color: var(--default-color);
}


.carrito .col-2 .total--Container{
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

.carrito .col-2 .total--Container .d-flex{
    margin-top: 1rem;
}

.carrito .col-2 .total--Container .total {
    padding: 5rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carrito .col-2 .carritoItems .col-1{
    margin-right: 2rem;
}

.carrito .col-2 .carritoItems img{
    width:10rem;
    height: auto;
}

.carrito .col-2 .carritoItems .col-2{
    flex-grow: 2;
}

.carrito .col-2 .carritoItems .col-3{
    flex-grow: 1;
}

.carrito .col-2 .carritoItems .col-2 .bottom{
    gap: 2rem;
}

.mensajeError{
    color: red;
}

.carritoVacioContainer{
    height: 70vh;
}

.carritoVacioContainer .row .mensajeCarritoVacio .shopEnlace {
   color: var(--primary-color);
   margin-right: 4px;
   border-radius: 1rem;
}

@media (max-width: 900px){
.carrito .container{
    display: block;
}

.carrito .container .col-1.checkout{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 0;
     border-top-left-radius: 14px;
     border-top-right-radius: 14px;
    display: grid;
    grid-template-rows: 10rem 1fr;
    grid-auto-columns: 90%;
    justify-content: center;
}

.carrito .col-2.order-summery{
   grid-column: 2;
   grid-row: 2;
   border: 1px solid #ccc;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 14px;
   border-bottom-right-radius: 14px;
}

.carrito .col-2 .carritoItems .col-3{
    flex-grow: 0.2;
}
}

@media (max-width: 425px){
.carrito .container .col-1 .payment-form .input--container {
    width: 100%;
}


.carrito .container .col-1 .payment-form .input-default {
    width: 100%;
}

    .carrito .container .col-1.checkout .payment-form .email-container{
flex-direction: column;
flex-wrap: wrap;
align-content: flex-start;
}
}

/* ========== Shop Page =========== */

.all-products .d-flex{
    flex-wrap: wrap;
    justify-content: space-between;
}

.all-products .product-center.d-flex{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
}

.all-products .top select{
    width: 20rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 1rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
}

.all-products .top form{
    margin: 3rem 0;
}

.collection .filters {
    justify-content: center;
    margin-bottom: 7rem;
}

.collection .filters a {
   padding: 1.7rem 4rem;
   color: var(--default-color);
   font-size: 1.7rem;
   border-radius: .8rem;
   box-shadow: var(--box-shadow-1);
} 

.collection .filters a:not(:last-child){
    margin-right: 4rem;
}

.collection .filters a:hover{
    background: var(--gradient);
    color: var(--white-color);
    box-shadow: var(--box-shadow-2);
}

.collection .filters a.active {
    background: var(--primary-color);
    color: var(--white-color);
    box-shadow: var(--box-shadow-2);
}

@media (max-width: 768px){
    .collection .filters{
        margin-bottom: 7rem;
    }

    .collection .filters a {
        padding: 1.2rem 2.5rem;
        font-size: 1.6rem;
    }

    .collection .filters a:not(:last-child){
        margin-right: 2rem;
    }
}

@media (max-width: 567px){
    .collection .filters{
        flex-wrap: wrap;
    }

      .collection .filters a{
          padding: 0.7rem 1rem;
          font-size: 1.5rem;
          margin-bottom: 1rem;
      }
    
      .collection .filters a:not(:last-child){
          margin-right: 1rem;
      }
}

/* ========== Mi pedido Page=========== */

.status-pedido .top.d-flex {
    flex-direction: column;
    background-color: var(--grey-color);
    border-radius: 1.5rem;
    width: 60vw;
}

.status-pedido .top .statusForm .d-flex {
    flex-direction: column;
    margin: 3rem 0;
    width: 20vw;
}

.status-pedido .top h2{
    width: 55%;
    text-align: center;
    margin-top: 3rem;
}

.status-pedido .top .statusForm .input-default{
    background-color: var(--white-color);
    border-radius: 0.5rem;
    color: var(--default-color);
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}

.status-pedido .top h3{
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 1rem;
}


.status-pedido .top .statusForm .btn{
    margin-top: 2rem;
}

@media only screen and (min-width: 768px) and (min-height: 945px) {
  .status-pedido{
      height: 50vh;
  }
}

@media (max-width: 768px){
    .status-pedido .top.d-flex {
    width: 90vw;
}

.status-pedido .top h2{
    width: 90%;
}

.status-pedido .top .statusForm .d-flex {
    flex-direction: column;
    margin: 3rem 0;
    width: 70vw;
}
}